*.pkl
*.feather
*.json
*.mp4
*.pyc
*.pdf

*.csv

refav/evaluation/
refav/refAV.egg-info/
refav/__pycache__/
output/llm_scenario_predictions/gemini-2-0-flash-thinking/*
output/llm_scenario_predictions/qwen-2-5-7b/*