*.pkl
*.feather 
*.json
*.pyc
*.pdf
*.log
*.csv
*.pt
*.png
*.gz

!pipeline.png
!eval_timestamps.json
*/output/
output/
output/visualization
refav/evaluation/
refav/refAV.egg-info/
refav/__pycache__/
evaluation/
ModelOutputs/
run/work.py
tracker_downloads/
baselines/
run/
refAV/