*.pkl
*.feather 
*.json
*.pyc
*.pdf
*.log
*.csv
*.pt
*.png
*.gz
*.mp4

!pipeline.png
!eval_timestamps.json
*/output/
output/
output/visualization
refav/evaluation/
refav/refAV.egg-info/
refav/__pycache__/
evaluation/
ModelOutputs/
run/work.py
run/av2_to_nuscenes_tracking.py
tracker_downloads/
refAV/llm_prompting/NuPrompt
scenario_mining_downloads
*/results/
*summary.txt
run/nuprompt_experiments.py