av2
anthropic
pathos
ipykernel
huggingface_hub
pyvista
vtk
imageio
imageio-ffmpeg
pycocotools
tabulate
git+https://github.com/JonathonLuiten/TrackEval.git
--no-cache-dir --extra-index-url https://wheels.vtk.org vtk-egl